body{}

.titulo-principal {
    text-align: center;
    color: rgb(72, 31, 105);
    font-size: larger;}  
    .prince of street {
        font-size: larger;
    }
    .prince of street{
        width: 900px;
        height: 750px;
    .
    }